{% extends "_base.html" %}
{% block title %}Add task list source{% endblock %}
{% block body %}
<div class="form-container mt-4">
    <form method="POST">
        <div class="form-input {% if name_error %}has-errors{% endif %}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" {% if name %}value="{{ name }}" {% endif %}>
            {% if name_error %}
            <p class="error">{{ name_error }}</p>
            {% endif %}
        </div>
        <div class="form-input {% if caldav_error %}has-errors{% endif %}">
            <label for="caldav">CalDAV url</label>
            <input type="text" id="caldav" name="caldav" {% if caldav %}value="{{ caldav }}" {% endif %}>
            {% if caldav_error %}
            <p class="error">{{ caldav_error }}</p>
            {% endif %}
        </div>

        <div class="form-input {% if username_error %}has-errors{% endif %}">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" {% if username %}value="{{ username }}" {% endif %}>
            {% if username_error %}
            <p class="error">{{ username_error }}</p>
            {% endif %}
        </div>

        <div class="form-input {% if password_error %}has-errors{% endif %}">
            <label for="Password">Password</label>
            <input type="password" id="caldav_password" name="caldav_password">
            {% if password_error %}
            <p class="error">{{ password_error }}</p>
            {% endif %}
        </div>
        <div class="form-input mt-12">
            <input type="submit" class="btn-wide mx-auto block"
                value="{% if edit %}Save{% else %}Add{% endif %} tasklist">
        </div>
        <div class="form-input mt-4 text-center">
            <!-- TODO: implement delete route and replace with url_for -->
            <a href="delete" class="text-red-600 hover:text-red-400 focus:text-red-800">delete</a>
        </div>
    </form>
</div>
</ul>
{% endblock %}