{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

{% if current_user.is_authenticated %}
<p class="text-xl mb-4">
  Hi <span class="font-mono">{{ current_user.username }}</span>!
  <a href="{{ url_for('auth.logout') }}" class="link text-sm">Log out.</a>
</p>

<div class="w-full h-40 bg-gray-200 flex items-center justify-center mb-8">
  <p>
    Your activity graph will show up here once you
    <a href="{{ url_for('sources.add') }}">add a task list source.</a>
  </p>
</div>

<div>
  <h3 class="text-2xl font-semibold">Tasklists</h3>
  {% if current_user.sources %}
  {% for source in current_user.sources %}
  <h4 class="text-xl">{{source.name}}</h4>
  <!-- TODO: show tasklists -->
  <!-- TODO: allow editing sources -->
  {% endfor %}
  {% else %}
  <p>You do not have any task lists configured yet.</p>
  <p><a href="{{ url_for('sources.add') }}">Add one.</a></p>
  {% endif %}
</div>
{% else %}
<p class="text-lg">
  Easily track your productivity with an activity graph based on your completed
  TODOs.
</p>
<p class="text-lg">
  Supports NextCloud or any other CalDAV compatible service.
</p>

<div class="mt-8 text-center text-xl">
  <a href="{{ url_for('auth.register') }}" class="btn">Register</a>
  or
  <a href="{{ url_for('auth.login') }}" class="link">log in.</a><br />
</div>
{% endif %}

{% endblock %}